#site-list {
	padding: 0.5rem;
	display: grid;
	gap: 0.5rem;
}

.site {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #fff;
	border-radius: 0.5rem;
	padding: 0.25rem;
}

.site__text {
	font-weight: bold;
}

.site__cross {
	width: 2rem;
	height: 2rem;
	cursor: pointer;

	padding: 0.5rem;
	border-radius: 50%;
	transition: all 0.2s;
}

.site__cross:hover {
	background-color: #999;
}
