.calendar {
	display: flex;
	gap: 0.5rem;
}

.day {
}

.day__checkbox:checked ~ .day__text {
	background-color: #128585;
}

.day__text {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid #fff;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	font-weight: bold;
}

.day__checkbox {
	display: none;
}

.time {
	display: flex;
	align-items: center;
	gap: 0.75rem;
}

.time__input,
.time__day {
	border: 1px solid #fff;
	padding: 0.25rem 0.5rem;
	background-color: #0000;
	border-radius: 0.5rem;
	color: #fff;
	font-weight: bold;
	max-width: 250px;
}

.time__separator {
	font-size: 1.1rem;
	font-weight: bold;
}

.form {
	display: grid;
	grid-template-columns: 150px 1fr;
	margin-bottom: 1rem;
	row-gap: 1rem;
}

.form__title {
	margin: 0.5rem;
	font-size: 1.5em;
	font-weight: bold;
}

.form__submit {
	font-weight: bold;
	font-size: 1.25rem;
	background-color: transparent;
	border: 1px solid #fff;
	padding: 0.25rem 1rem;
	border-radius: 0.25rem;
	transition: all 0.2s;
	color: #fff;
}
.form__submit:hover {
	background-color: darkgray;
}
