#timeline {
	display: grid;
	row-gap: 1rem;
	border: 1px solid #fff;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	min-height: 3rem;

	max-height: 250px;
	overflow: auto;
	grid-auto-rows: max-content;
}

.timeline {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.timeline__daily {
	border-radius: 0.25rem;
	padding: 0.25rem 0.5rem;
	background-color: #128585;
	font-weight: bold;
}

.timeline__timer {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.timeline__time {
	border-radius: 0.25rem;
	padding: 0.25rem 0.5rem;
	background-color: burlywood;
	font-size: 1.5rem;
	font-weight: bold;
}

.timeline__day {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid #fff;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	font-weight: bold;
}

.timeline__day.timeline__day_active {
	background-color: #128585;
}

.timeline__weekdays {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}
